@use '../../scss/variables' as *;

.error-section {
    max-width: 480px;
    margin: 80px auto;
    text-align: center;
    padding: 0 25px;

    @media #{$mobile-only} {
        margin: 30vh 0;
    }

    p {
        &.strong {
            margin-top: 25px;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

.error-badge {
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background: #c0392b;
}
