# dependencies
/node_modules

# compiled output
/dist

# local env files
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# temp
/tmp
/out-tsc
/bazel-out
