# dependencies
node_modules

# build output
dist
dev-dist

# test output
coverage
playwright-report
test-results

# local env / editor files
*.local
.vite
.idea
.vscode/*
!.vscode/settings.json
.history/*

# System files
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
