@use '../../shared/scss/variables' as *;

#footer {
    position: relative;
    padding: 16px 10px;
    letter-spacing: 0.4px;
    text-align: center;
    font-size: 13px;

    p {
        margin: 4px 0;
    }

    a {
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .fine-print {
        font-size: 11px;
    }

    @media #{$mobile-only} {
        display: none;
    }
}
