@import "../../styles/media";

.footer {
  text-align: center;
  padding: 20px 0 30px;
  font-size: 12px;

  @media #{$mobile-only} {
    padding: 15px 0 70px;
  }

  a {
    opacity: 0.5;
    transition: opacity 0.2s;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
