@import "./styles/media";
@import "./styles/themes";

.body-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.wrapper {
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}
